<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title> Person login </title>
</head>

<form th:action = "@{/homepage}" method="get">
    <h1> Login </h1>
    <br>
    <input type="Text" name="username" th:value="${userName}"
           placeholder="Enter Username"> <br>
    <input type="password" name="password" th:value="${password}"
            placeholder="Enter Password"> <br>
    <input type="submit" class="submit"/>
</form>


</body>

</html>